 <div class="main-inner">
                                                    <% if(item.isPopular) { %>
                                                        <h2 class="course-popular"></h2>
                                                    <% } %>
                                                    <div class="row">
                                                        <div class="col-md-5 col-sm-6">
                                                            <img class="pull-left img-responsive" src="<%= item.image %>" alt="<%= item.title %>">
                                                        </div>
                                                        <div class="col-md-7 col-sm-6">
                                                            <h2 style="margin-top: 0px;"><%= item.title %></h2>
                                                            <h3 class="Price badge">$ <%= item.price %></h3>
                                                            <p><%= item.description %></p>
                                                        </div>
                                                    </div>
                                                </div>